/* General Body Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8; /* Light grey background for the page itself */
}

/* Header Styles */
header {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 10px 20px; 
    background-color: rgba(90, 99, 81, 0.7); /* Green background color */
    border: 2px solid #697469; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); 
}

/* Specific style for the logo image */
#logo_link .logo { 
    max-width: 75px; 
    height: auto;
    display: block; 
}

/* Navigation Links within the Header */
nav {
    display: flex; 
    gap: 20px; 
}

nav a {
    text-decoration: none;
    color: white; 
    font-weight: bold;
    padding: 5px 10px; 
    transition: color 0.3s ease; 
}

nav a:hover {
    color: #DDDDDD; 
}

/* Main Content Area */
main {
    margin: 20px 0; 
    padding: 20px 5%; 
    background-color: #ffffff; 
    border-radius: 0; 
    box-shadow: none; 
}

h2 {
    color: #333;
    margin-bottom: 20px;
}

/* Top 3 Rivers Section */
.river-list {
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap; 
    gap: 20px; 
    justify-content: center; 
}

.river-item {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    flex: 1; 
    min-width: 580px; 
    /* max-width: calc(33.333% - 13.333px);  */
    box-sizing: border-box; 
    display: flex; 
    align-items: flex-start; 
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05); 
}

.river-item .river-image {
    flex-shrink: 0; 
    margin-right: 25px; 

}

.river-item .river-image img {
    display: block; 
    border-radius: 15px;
    width: 350px; 
    height: 300px; 
    object-fit: cover; 
}

.river-item .river-description h3 {
    margin-top: 0;
    margin-bottom: 5px;
    color: #007bff;
}

.river-item .river-description p {
    font-size: 0.9em;
    line-height: 1.5;
    color: #555;
}

/* Other Rivers Section */
.other-rivers {
    margin-top: 40px;
}

.other-rivers ul {
    list-style: disc; 
    margin-left: 20px;
    padding: 0;
}

.other-rivers li {
    margin-bottom: 8px;
}

.other-rivers li a {
    color: #007bff;
    text-decoration: none;
}

.other-rivers li a:hover {
    text-decoration: underline;
}

/* Footer Styles */
footer {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 20px;
    background-color: #333; 
    color: white;
    margin-top: 30px; 
}

.footer-links {
    display: flex; 
    gap: 20px; 
}

.footer-links a {
    color: white;
    text-decoration: none;
    font-size: 0.9em;
    transition: text-decoration 0.3s ease;
}

.footer-links a:hover {
    text-decoration: underline;
}

.social-media {
    display: flex; 
    gap: 15px; 
}

.social-media img {
    width: 30px; 
    height: 30px;
    border-radius: 4px; 
    background-color: rgba(255, 255, 255, 0.1); 
    padding: 2px;
}